img {
	width: 50%;
	filter: grayscale(100%) blur(3px);
}

p {
	font-family: Raleway;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;
	width: 30%;
	padding-bottom: 20px;
}

.vertical{
	/*max-height: 400px;*/
	height: 600px;
	object-fit: cover;
	overflow: hidden;
	width: 33.33%;
}

.container{
  position: relative;
  width: 100%;
  font-size: 0;
  /*max-width: 20px;*/
}


img:hover {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	transition: .3s ease-in-out;
}

